In [1]:
from langchain.llms import GooglePalm

api_key = 'AIzaSyCBwiU6fjBuH2pJ1yOWxpOLizbbzjpJq1E'

llm = GooglePalm(google_api_key=api_key, temperature=0.2)

In [2]:
from langchain.utilities import SQLDatabase

db_user = "root"
db_password = "root"
db_host = "localhost"
db_name = "atliq_tshirts"

db= SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}",sample_rows_in_table_info=3)
print(db.table_info)

CREATE TABLE discounts (
	discount_id INTEGER NOT NULL AUTO_INCREMENT,
	t_shirt_id INTEGER NOT NULL,
	pct_discount DECIMAL(5, 2),
	PRIMARY KEY (discount_id),
	CONSTRAINT discounts_ibfk_1 FOREIGN KEY(t_shirt_id) REFERENCES t_shirts (t_shirt_id),
	CONSTRAINT discounts_chk_1 CHECK ((`pct_discount` between 0 and 100))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from discounts table:
discount_id	t_shirt_id	pct_discount
1	1	10.00
2	2	15.00
3	3	20.00
*/


CREATE TABLE t_shirts (
	t_shirt_id INTEGER NOT NULL AUTO_INCREMENT,
	brand ENUM('Van Huesen','Levi','Nike','Adidas') NOT NULL,
	color ENUM('Red','Blue','Black','White') NOT NULL,
	size ENUM('XS','S','M','L','XL') NOT NULL,
	price INTEGER,
	stock_quantity INTEGER NOT NULL,
	PRIMARY KEY (t_shirt_id),
	CONSTRAINT t_shirts_chk_1 CHECK ((`price` between 10 and 50))
)COLLATE utf8mb4_0900_ai_ci DEFAULT CHARSET=utf8mb4 ENGINE=InnoDB

/*
3 rows from t_shirts table:
t_shirt_id	brand	color	size	price	stock_quantity
1	Levi	White	M	49	33
2	Levi	Red	M	38	33
3	Van Huesen	Blue	XL	25	38
*/

In [3]:
# from langchain_experimental.sql import SQLDatabaseChain
from langchain_experimental.sql import SQLDatabaseChain

db_chain = SQLDatabaseChain.from_llm(llm,db,verbose=True)  # varbose provide some insites info like sql query it running behind the sean

In [14]:
# qur1
qur1=db_chain.run("How many Van Huesen t-shirts are left in stock of white color?")

> Entering new SQLDatabaseChain chain...
How many Van Huesen t-shirts are left in stock of white color?
SQLQuery:

Retrying langchain.llms.google_palm.generate_with_retry.<locals>._generate_with_retry in 2.0 seconds as it raised ServiceUnavailable: 503 Connection timed out.

SELECT stock_quantity FROM t_shirts WHERE brand = 'Van Huesen' AND color = 'White'
SQLResult: [(52,), (85,), (21,), (90,)]
Answer:52
> Finished chain.

Here the output we are expecting to get the sum of all van huesen white color t-shirts but here we are getting the only one value in all the sizes, its is considering the sizes behind the sean

In [15]:
qur1 = db_chain.run("SELECT SUM(stock_quantity) as total_tshirt FROM t_shirts WHERE brand='Van Huesen' and color='white' ")

> Entering new SQLDatabaseChain chain...
SELECT SUM(stock_quantity) as total_tshirt FROM t_shirts WHERE brand='Van Huesen' and color='white'
SQLQuery:

Retrying langchain.llms.google_palm.generate_with_retry.<locals>._generate_with_retry in 2.0 seconds as it raised ServiceUnavailable: 503 Connection timed out.

SELECT SUM(stock_quantity) as total_tshirt FROM t_shirts WHERE brand='Van Huesen' and color='white'
SQLResult: [(Decimal('248'),)]
Answer:248
> Finished chain.

In [16]:
qur1

'248'

In [17]:
qur2= db_chain.run("How many t-shirts do we have left for nike in extra small size and white color?")

> Entering new SQLDatabaseChain chain...
How many t-shirts do we have left for nike in extra small size and white color?
SQLQuery:

Retrying langchain.llms.google_palm.generate_with_retry.<locals>._generate_with_retry in 2.0 seconds as it raised ServiceUnavailable: 503 Connection timed out.

SELECT stock_quantity FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult:
Answer:0
> Finished chain.

In [20]:
qur2 = db_chain.run("SELECT COALESCE (SUM(stock_quantity),0) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'")

> Entering new SQLDatabaseChain chain...
SELECT COALESCE (SUM(stock_quantity),0) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLQuery:SELECT COALESCE (SUM(stock_quantity),0) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'
SQLResult: [(Decimal('0'),)]
Answer:0
> Finished chain.

In [21]:
qur2

'0'

In [31]:
qur3 = db_chain.run("How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT SUM(price) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('413'),)]
Answer:413
> Finished chain.

In [32]:
qur3

'413'

It made a mistake here. The price is actually the price per unit but in real life database columns will not have perfect names. We need to tell it somehow that price is price per unit and the actual query should be,

SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'

In [33]:
qur3 = db_chain.run("SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLQuery:SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('21618'),)]
Answer:21618
> Finished chain.

In [26]:
qns3

'21618'

In [34]:
qur4 = db_chain.run("If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?")

> Entering new SQLDatabaseChain chain...
If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue our store will generate (post discounts)?
SQLQuery:SELECT SUM(price - (price * pct_discount)) FROM t_shirts JOIN discounts ON t_shirts.t_shirt_id = discounts.t_shirt_id WHERE brand = 'Levi' AND CURDATE() BETWEEN discounts.start_date AND discounts.end_date

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'discounts.start_date' in 'where clause'")
[SQL: SELECT SUM(price - (price * pct_discount)) FROM t_shirts JOIN discounts ON t_shirts.t_shirt_id = discounts.t_shirt_id WHERE brand = 'Levi' AND CURDATE() BETWEEN discounts.start_date AND discounts.end_date]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [35]:
sql_code = """
select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """

qur4 = db_chain.run(sql_code)

> Entering new SQLDatabaseChain chain...

select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id

SQLQuery:select sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('22364.250000'),)]
Answer:22364.25
> Finished chain.

In [36]:
qur4

'22364.25'

It produced a correct answer when explicit query was given. 17462 is the total revenue without discounts. The total discount is 736.6. Hence revenue post discount is 17462-736.6=16725.4

Now this is not much interesting because what is the point of giving it the ready made query? Well, we will use this same query later on for few shot learning

In [37]:
qur5 = db_chain.run("SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'")

> Entering new SQLDatabaseChain chain...
SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'
SQLResult: [(Decimal('23385'),)]
Answer:23385
> Finished chain.

In [38]:
qur5

'23385'

In [39]:
qur6 = db_chain.run("How many white color Levi's t shirts we have available?")

> Entering new SQLDatabaseChain chain...
How many white color Levi's t shirts we have available?
SQLQuery:SELECT stock_quantity FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(86,), (33,), (82,)]
Answer:33
> Finished chain.

Once again above is the wrong answer. We need to use SUM(stock_quantity). Let's run the query explicitly. We will use the result of this query later on in the notebook

In [40]:
qur6 = db_chain.run("SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'")

> Entering new SQLDatabaseChain chain...
SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('201'),)]
Answer:201
> Finished chain.

#### Few shot learning

We will use few shot learning to fix issues we have seen so far

In [41]:
few_shots = [
    {'Question' : "How many Van Huesen t-shirts are left in stock of white color?",
     'SQLQuery' : "SELECT SUM(stock_quantity) as total_tshirt FROM t_shirts WHERE brand='Van Huesen' and color='white' ",
     'SQLResult': "Result of the SQL query",
     'Answer' : qur1},
    {'Question': "How many t-shirts do we have left for nike in extra small size and white color?",
     'SQLQuery':"SELECT COALESCE (SUM(stock_quantity),0) FROM t_shirts WHERE brand = 'Nike' AND color = 'White' AND size = 'XS'",
     'SQLResult': "Result of the SQL query",
     'Answer': qur2},
    {'Question': "How much is the price of the inventory for all small size t-shirts?",
     'SQLQuery':"SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
     'SQLResult': "Result of the SQL query",
     'Answer': qur3},
    {'Question': "If we have to sell all the Levi’s T-shirts today with discounts applied. How much revenue  our store will generate (post discounts)?" ,
     'SQLQuery' : """SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where brand = 'Levi'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
 """,
     'SQLResult': "Result of the SQL query",
     'Answer': qur4} ,
     {'Question' : "If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?" ,
      'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
      'SQLResult': "Result of the SQL query",
      'Answer' : qur5},
    {'Question': "How many white color Levi's shirt I have?",
     'SQLQuery' : "SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'",
     'SQLResult': "Result of the SQL query",
     'Answer' : qur6
     }
]

### Creating Semantic Similarity Based example selector

- create embedding on the few_shots
- Store the embeddings in Chroma DB
- Retrieve the the top most Semantically close example from the vector store

In [42]:
from langchain.prompts import SemanticSimilarityExampleSelector
from langchain.embeddings import HuggingFaceEmbeddings
from langchain.vectorstores import Chroma


embeddings = HuggingFaceEmbeddings(model_name='sentence-transformers/all-MiniLM-L6-v2')

to_vectorize = [" ".join(map(str, example.values())) for example in few_shots]

C:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.26.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [43]:
type(to_vectorize)

list

In [44]:
to_vectorize[0]

"How many Van Huesen t-shirts are left in stock of white color? SELECT SUM(stock_quantity) as total_tshirt FROM t_shirts WHERE brand='Van Huesen' and color='white'  Result of the SQL query 248"

In [45]:
vectorstore = Chroma.from_texts(to_vectorize, embedding=embeddings, metadatas=few_shots)

In [46]:
example_selector = SemanticSimilarityExampleSelector(
    vectorstore=vectorstore,
    k=2,
)

example_selector.select_examples({"Question": "How much is the price of the inventory for all small size t-shirts?"})

[{'Answer': '21618',
  'Question': 'How much is the price of the inventory for all small size t-shirts?',
  'SQLQuery': "SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'",
  'SQLResult': 'Result of the SQL query'},
 {'Answer': '23385',
  'Question': 'If we have to sell all the Levi’s T-shirts today. How much revenue our store will generate without discount?',
  'SQLQuery': "SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Levi'",
  'SQLResult': 'Result of the SQL query'}]

In [47]:
### my sql based instruction prompt
mysql_prompt = """You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: Query to run with no pre-amble
SQLResult: Result of the SQLQuery
Answer: Final answer here

"""""

In [48]:
from langchain.prompts import FewShotPromptTemplate
from langchain.chains.sql_database.prompt import PROMPT_SUFFIX, _mysql_prompt

print(PROMPT_SUFFIX)

Only use the following tables:
{table_info}

Question: {input}

### Setting up PromptTemplete using input variables

In [50]:
from langchain.prompts.prompt import PromptTemplate

example_prompt = PromptTemplate(
    input_variables=["Question", "SQLQuery", "SQLResult","Answer",],
    template="\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}",
)

In [ ]:
PromptTemplate()

In [51]:
few_shot_prompt = FewShotPromptTemplate(
    example_selector=example_selector,
    example_prompt=example_prompt,
    prefix=mysql_prompt,
    suffix=PROMPT_SUFFIX,
    input_variables=["input", "table_info", "top_k"], #These variables are used in the prefix and suffix
)

In [52]:
few_shot_prompt

FewShotPromptTemplate(input_variables=['input', 'table_info', 'top_k'], example_selector=SemanticSimilarityExampleSelector(vectorstore=<langchain.vectorstores.chroma.Chroma object at 0x0000020CBAD30580>, k=2, example_keys=None, input_keys=None), example_prompt=PromptTemplate(input_variables=['Answer', 'Question', 'SQLQuery', 'SQLResult'], template='\nQuestion: {Question}\nSQLQuery: {SQLQuery}\nSQLResult: {SQLResult}\nAnswer: {Answer}'), suffix='Only use the following tables:\n{table_info}\n\nQuestion: {input}', prefix='You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use CURDATE() function to get the current date, if the question involves "today".\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: Query to run with no pre-amble\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\n')

In [53]:
new_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True, prompt=few_shot_prompt)

In [54]:
new_chain("How many white color Levi's shirt I have?")

> Entering new SQLDatabaseChain chain...
How many white color Levi's shirt I have?
SQLQuery:

Retrying langchain.llms.google_palm.generate_with_retry.<locals>._generate_with_retry in 2.0 seconds as it raised ServiceUnavailable: 503 Connection timed out.

SELECT sum(stock_quantity) FROM t_shirts WHERE brand = 'Levi' AND color = 'White'
SQLResult: [(Decimal('201'),)]
Answer:201
> Finished chain.

{'query': "How many white color Levi's shirt I have?", 'result': '201'}

In [55]:
new_chain("How much is the price of the inventory for all small size t-shirts?")

> Entering new SQLDatabaseChain chain...
How much is the price of the inventory for all small size t-shirts?
SQLQuery:SELECT SUM(price*stock_quantity) FROM t_shirts WHERE size = 'S'
SQLResult: [(Decimal('21618'),)]
Answer:21618
> Finished chain.

{'query': 'How much is the price of the inventory for all small size t-shirts?',
 'result': '21618'}

In [56]:
new_chain("How many t-shirts left in stock of size XL?")

> Entering new SQLDatabaseChain chain...
How many t-shirts left in stock of size XL?
SQLQuery:SELECT sum(stock_quantity) FROM t_shirts WHERE size = 'XL'
SQLResult: [(Decimal('485'),)]
Answer:485
> Finished chain.

{'query': 'How many t-shirts left in stock of size XL?', 'result': '485'}

In [57]:
new_chain("How much revenue we can generate by selling Van Huesen all red color t-shirts?")

> Entering new SQLDatabaseChain chain...
How much revenue we can generate by selling Van Huesen all red color t-shirts?
SQLQuery:SELECT SUM(price * stock_quantity) FROM t_shirts WHERE brand = 'Van Huesen' AND color = 'Red'
SQLResult: [(Decimal('9635'),)]
Answer:9635
> Finished chain.

{'query': 'How much revenue we can generate by selling Van Huesen all red color t-shirts?',
 'result': '9635'}

In [58]:
new_chain("How revenue we can get today if we sell all the levi t-shirts with applied discount")

> Entering new SQLDatabaseChain chain...
How revenue we can get today if we sell all the levi t-shirts with applied discount
SQLQuery:SELECT sum(price * stock_quantity * (100 - discounts.pct_discount) / 100) FROM t_shirts JOIN discounts ON t_shirts.t_shirt_id = discounts.t_shirt_id WHERE t_shirts.brand = 'Levi' AND t_shirts.stock_quantity > 0
SQLResult: [(Decimal('4741.250000'),)]
Answer:4741.25
> Finished chain.

{'query': 'How revenue we can get today if we sell all the levi t-shirts with applied discount',
 'result': '4741.25'}

In [59]:
new_chain("How many t-shirts left in stock of size XL and S?")

> Entering new SQLDatabaseChain chain...
How many t-shirts left in stock of size XL and S?
SQLQuery:

Retrying langchain.llms.google_palm.generate_with_retry.<locals>._generate_with_retry in 2.0 seconds as it raised ServiceUnavailable: 503 Connection timed out.

SELECT SUM(stock_quantity) FROM t_shirts WHERE size IN ('XL','S')
SQLResult: [(Decimal('1131'),)]
Answer:1131
> Finished chain.

{'query': 'How many t-shirts left in stock of size XL and S?',
 'result': '1131'}

In [60]:
new_chain("How much revenue we can generate by selling all XL t-shirts with applied discounts")

> Entering new SQLDatabaseChain chain...
How much revenue we can generate by selling all XL t-shirts with applied discounts
SQLQuery:

Retrying langchain.llms.google_palm.generate_with_retry.<locals>._generate_with_retry in 2.0 seconds as it raised ServiceUnavailable: 503 Connection timed out.

SELECT sum(price * stock_quantity * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where size = 'XL'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'price' in 'field list'")
[SQL: SELECT sum(price * stock_quantity * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where size = 'XL'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [61]:
# if we sell all the levi t-shirts with applied discount
new_chain("How much revenue we can generate if we sell all the extra large t-shirts with applied discount")

> Entering new SQLDatabaseChain chain...
How much revenue we can generate if we sell all the extra large t-shirts with applied discount
SQLQuery:

Retrying langchain.llms.google_palm.generate_with_retry.<locals>._generate_with_retry in 2.0 seconds as it raised ServiceUnavailable: 503 Connection timed out.

SELECT sum(a.total_amount * ((100-COALESCE(discounts.pct_discount,0))/100)) as total_revenue from
(select sum(price*stock_quantity) as total_amount, t_shirt_id from t_shirts where size = 'XL'
group by t_shirt_id) a left join discounts on a.t_shirt_id = discounts.t_shirt_id
SQLResult: [(Decimal('16769.500000'),)]
Answer:16769.5
> Finished chain.

{'query': 'How much revenue we can generate if we sell all the extra large t-shirts with applied discount',
 'result': '16769.5'}